.cli-window {
    height: 100%;
    overflow: auto;
    padding-bottom: 3rem;
    background-color: #222222;
    
    div[name="react-console-emulator"] {
        height: 100%;
        background-color: transparent !important;
    }
    .react-console-emulator__inputArea {
        padding-top: 0.5rem;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
    }
}